
body{
    background-color:#ecf5fa;
    font-family: 'Courier New', Courier, monospace;
}

nav a {
    color:#000000/*#B4E4FF*/;
}
nav a:hover{

background-color:#f0bbea;;
}
nav{
    padding: 10px;
    font-size: larger;
}
nav{
    margin-bottom: 30px;
}
    .nav1{
        display:flex;
        justify-content:space-around;
        background-color:rgb(255, 255, 240);
        overflow: hidden;

    }
.skip{
    background-color: rgb(255, 255, 240);
  color: #000000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

    @media only screen and (min-width: 500px){
    }
        a{width:100%;
        display:block}

